<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Not Local's Host</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <p>you have landed on the step page</p>
        <form method="POST">
            <input type="submit" value="go to next">
        </form>

        <p>
            You have {{ data.time }} seconds left before you 
        </p>
        
        <script src="" async defer></script>
    </body>
</html>